.product a {
  display: inline-block;
  background-color: #2f2f2f;
  border-radius: 0.2rem;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1rem;
  color: #facd49;
  padding: 0.6rem 1.2rem;
  margin: 0.8rem auto;
  cursor: pointer !important;
}

.product:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.reduce {
  margin-block: 4rem;
}

/* ==== Responsiveness */

/*  X-Small devices (portrait phones, less than 576px) */
@media (max-width: 991.98px) {
  .product a {
    text-align: center;
  }

  .product:hover {
    transform: scale(1.1);
  }
}
